<head>
    <style>
        body {
            margin: 0;
            background-color: black;
        }
    </style>
    <script type="importmap">
        { "imports": 
            {
            "three": "https://esm.sh/three",
            "three/": "https://esm.sh/three/"
            }
        }
    </script>
    <link rel="stylesheet" href="./src/style.css" />
    <script defer src="./src/script.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #282c34; /* Example background color */
        }
        .container {
            text-align: center;
            z-index: 1;
            color: white;
        }
    </style>
    <title>Astropify</title>
</head>

<body>
    <div style="position: relative; z-index: 1;margin-top: -5%;">
        <h2 style="font-size: 4rem; font-weight: 600; color: white; text-align: center;">{{.ErrorNbr}}</h2>
        <h2 style="font-size: 3rem; font-weight: 600; color: white; text-align: center;">{{.ErrorMsg}}</h2>
        <center>
            <a href="/login" style="color: white; text-decoration: none;"><button onclick="refreshAndGoBack()" class="glowDiv"><span>Go Back</span></button></a>
        </center>
        <script>
            function refreshAndGoBack() {
                history.back();
                location.reload();
            }
        </script>
    </div>

    <div id="spline-container"
        style="width: 100%; height: 100%; z-index: 0; user-select: none; pointer-events: none; position: fixed; top: 0; left: 0;">
        <img src="./img/Sky.jpg" alt="" style="width: 100%; height: 100%; pointer-events: none; user-select: none"
            draggable="false" class="backgroundImage">
    </div>
</body>